.all-lessons {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
} 

.all-lessons button {
    background-color: white;
    padding: 0;
    margin: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    border-radius: 3px;
    border: 1px #b5b5b5 solid;
}

.all-lessons button:focus {
    outline: none;
}

.all-lessons button:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);
    color: #0a6bf9;
}

.all-lessons button:hover .button-header {
    color: #757575;
}

.button-footer {
    border-top: 1px #b5b5b5 solid;
    font-size: 12px;
    padding: 3px 0;
}

.button-header {
    text-align: left;
    padding-left: 10px;
    text-shadow: 2px 3px 6px #fff, 0 0 0 #000, 2px 3px 6px #fff;
    font-size: 34px;
    color: #757575;
}

.button-image {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.all-lessons .empty-button {
    cursor: auto;
    box-shadow: none;
    border: none;
    outline: none;
}

.all-lessons .empty-button:hover {
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    border-top: 0.5px #b5b5b5 solid;
}

.main-header a:hover {
    text-decoration: none;
}

#root header.main-header a {
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

#root header.main-header a:hover {
    color: #0a6bf9;
}

#root header.main-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#root header.main-header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}