body {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
}

.lesson-container {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
    color: #757575;
    position: relative;
    height: 210px;
    overflow: hidden;
    border-bottom: 1px #bbbbbb solid;
}

.word-container {
    display: inline-block;
}

.letter-holder {
    display: inline-block;
    min-width: 20px;
    margin-right: 2px;
    border-radius: 2px;
    height: 45px;
}

.cursor {
    border-bottom: 3px #0b6bf9 solid;
    margin-bottom: -7px;
}

.correct {
    background-color: #e6fbd3;
    color: #0e630f;
}

.wrong {
    background-color: #fec0cb;
    color: #8b0b00;
}

.edited {
    background-color: #ffe9b2;
    color: #0e630f;
}

.completion-bar {
    background-color: #78b8ff;
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    transition: 1s;
}

.keyboard {
    display: flex;
    justify-content: center;
}

.keyboard img {
    margin-top: 100px;
}

.stats {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 265px;
    color: #888;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
}

.stats h2 {
    font-weight: normal;
    margin-bottom: 5px;
}

.stats p {
    font-size: 28px;
    margin: 0;
}

.stats div:first-of-type {
    margin-right: 100px;
}