html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/bg.png) no-repeat 0;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#root header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #dddddd solid;
    font-family: sans-serif;
    background-color: white;
    padding: 10px 20px;
    color: #757575;
    position: relative;
    z-index: 1;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    color: #757575;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

.menu:focus {
    outline: none;
}

button:hover {
    color: black;
}

pre {
    margin: 0;
}

.lesson-container {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px #bbbbbb solid;
    padding-bottom: 62px;
    box-sizing: border-box;
}

.lesson-container span {
    font-family: 'Roboto Mono', monospace;
    color: #757575;
    font-size: 38px;
    line-height: 45px;
}

.word-container {
    display: inline-block;
    overflow: hidden;
}

.letter-holder {
    display: inline-block;
    min-width: 20px;
    margin-right: 2px;
    border-radius: 2px;
    height: 45px;
    position: relative;
}

.cursor {
    border-bottom: 3px #0b6bf9 solid;
    margin-bottom: -7px;
    border-radius: 0;
}

.lesson-container .correct {
    background-color: #e6fbd3;
    color: #0e630f;
}

.lesson-container .wrong {
    background-color: #fec0cb;
    color: #8b0b00;
}

.lesson-container .edited {
    background-color: #ffe9b2;
    color: #0e630f;
}

.completion-bar {
    background-color: #78b8ff;
    height: 3px;
    width: 0;
    position: fixed;
    top: 294px;
    transition: 1s;
}

.keyboard {
    display: flex;
    justify-content: center;
}

.keyboard img {
    margin-top: 112px;
}

@keyframes reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.stats {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 320px;
    color: #888;
    font-family: sans-serif;
    text-align: center;
    animation-name: reveal;
    animation-duration: 1s;
}

.stats h2 {
    font-weight: normal;
    margin-bottom: 5px;
}

.stats p {
    font-size: 28px;
    margin: 0;
}

.stats div:first-of-type {
    margin-right: 100px;
}

.social-links {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.social-links li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.social-links a {
    color: #4e4949;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.social-links a:hover {
    color: #0a6bf9;
    text-decoration: none;
}

.social-links i {
    margin-right: 5px;
}

.fa-github, .fa-linkedin, .fa-laptop, .fa-angellist {
    font-size: 30px;
}

.left-controllers {
    display: flex;
    align-items: center;
}

.menu {
    margin-right: 5px;
    color: #3b75d9;
}

.menu:hover {
    color: #1956ea;
}

.right-controllers {
    display: flex;
}

.right-controllers button:focus {
    outline: none;
}

.right-controllers > button {
    margin-right: 25px;
}

.title {
    font-size: 18px;
}

.slide-in {
    animation: slide-in;
    animation-duration: 1s;
}

.slide-out {
    animation: slide-out;
    animation-duration: 1s;
}

@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
    }
    80% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.banner {
    width: 85px;
    height: 200px;
    background-color: #5293e1;
    position: absolute;
    top: 0;
    left: 7%;
    display: flex;
    align-items: flex-end;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.enter {
    margin: 0 auto;
    background: url(../images/enter.png) no-repeat 0;
}

header .right-controllers button.disabled {
    color: #d6d6d6;
    cursor: auto;
}

header .right-controllers button.disabled:hover {
    color: #d6d6d6;
}

.wrong-letter {
    position: absolute;
    top: 0;
    color: white;
    transition: 1s;
}

.remove-wrong-letter {
    opacity: 0;
}

